@font-face {
  font-family: "Trashhand";
  src: url("assets/fonts/TrashHand.TTF");
}

@font-face {
  font-family: "Seravek";
  src: url("assets/fonts/Seravek.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Seravek', 'sans-serif';
  font-size: 1.125em;
  color: #444445;
  font-weight: 300;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.parent-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parent-grid-5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-columns: 29% 17% 17% 17% 17%;
      grid-template-columns: 29% 17% 17% 17% 17%;
  gap: 10px;
  padding: 10px 0;
}

.parent-grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
}

.parent-grid-2-paypal {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-columns: 29% 70.5%;
      grid-template-columns: 29% 70.5%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 10px 0;
}

.parent-grid-2-paypal .medio-de-pago {
  padding: 0px;
}

h1 {
  color: #4FA7C1;
  font-size: 1.5em;
  text-transform: uppercase;
}

h2 {
  color: #4FA7C1;
  font-family: 'Trashhand';
  font-size: 2.8em;
}

h3 {
  color: #FFFFFF;
  font-size: 1.3em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  font-weight: 900;
}

.font-size-s {
  font-size: 1em;
}

.font-size-xs {
  font-size: 0.8em;
}

.hidden {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.appear {
  display: none !important;
}

a {
  text-decoration: none;
}

.section-img {
  text-align: end !important;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav {
  width: 70%;
  margin-top: 15px;
  margin-right: 20px;
  font-weight: 800;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
}

nav ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: center;
}

nav ul li a {
  color: #444445;
  text-decoration: none;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  margin-top: 0px;
}

nav a:hover {
  color: #E48125;
  text-decoration: none;
}

.pagina-actual {
  color: #E48125;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

article p {
  font-size: 1.6em;
}

article div {
  padding: 50px;
}

.content {
  width: 50%;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: flex wrap;
      flex-flow: flex wrap;
}

.box {
  height: 250px;
  width: 25%;
  padding: 50px;
}

.background-grey {
  background-color: #444445;
}

.background-orange {
  background-color: #E48125;
}

.background-purple {
  background-color: #6B639A;
}

.background-light-blue {
  background-color: #4FA7C1;
}

.background-green {
  background-color: #55BA68;
}

.background-pink {
  background-color: #F9C0C1;
}

.background-light-orange {
  background-color: #FCA24F;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px 10px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  text-align: center;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.derechos {
  margin-top: 50px;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info-container p {
  margin-top: 20px;
  margin-left: 20px;
}

i {
  color: #E48125;
  font-size: 1.6em;
  margin-top: 20px;
}

.redes i {
  margin-right: 20px;
}

main {
  padding: 50px;
}

.home {
  padding: 0 !important;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.margin-top {
  margin-top: 20px;
}

.margin-left {
  margin-left: 20px;
}

.colaborar section {
  margin-bottom: 20px;
}

.colaborar h2, .colaborar a {
  color: #55BA68;
}

span {
  font-weight: bold;
}

.cuenta-bancaria p, .debito-automatico p {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.15em;
}

.debito-automatico p {
  margin-top: 20px;
}

.cuenta-bancaria h3 {
  margin-bottom: 20px;
  font-size: 1.2500em;
}

.cuenta-bancaria, .debito-automatico {
  padding: 40px;
  max-height: 300px;
  min-height: 300px;
}

.debito-automatico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.border-radius {
  border-radius: 25px;
}

.border-light-blue {
  border: 3px solid #4FA7C1;
}

.border-green {
  border: 3px solid #55BA68;
}

.border-pink {
  border: 3px solid #F9C0C1;
}

button {
  border-radius: 25px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.8em;
  height: 100%;
  min-height: 150px;
}

.no-button {
  border-radius: 25px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  border: 0px;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 0.5em;
  height: 100%;
  min-height: 150px;
}

.button-paypal {
  min-height: 150px;
  height: 100%;
}

.button-form {
  width: 30%;
  min-width: 235px;
  font-size: 1em;
  color: #6B639A;
  height: auto;
  background-color: #FAFAFA;
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-height: 60px !important;
}

input {
  border: 0px;
  border-bottom: 3px solid white;
  background: transparent;
  margin-bottom: 10px;
  margin-top: 35px;
  width: 85%;
}

.medio-de-pago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 25px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  height: -webkit-fill-available;
}

.nosotros h2, .nosotros h3, .nosotros li::marker {
  color: #E48125;
}

.nosotros h2, .nosotros h3 {
  margin-bottom: 20px;
}

.nosotros h3 {
  margin-bottom: 10px;
}

.nosotros section {
  width: 70%;
}

.nosotros section img {
  max-height: 800px;
}

.adopta h2, .adopta li::marker {
  color: #F9C0C1;
}

.adopta h2, .adopta p, .adopta ul {
  margin-bottom: 20px;
}

.adopta section {
  width: 70%;
}

.adopta button {
  background-color: #F9C0C1;
}

.section-button {
  width: 100% !important;
  margin-top: 40px;
}

.section-button button {
  width: auto;
  padding: 20px;
  min-height: 0;
  height: 75px;
  margin-top: 20px;
}

.voluntarios h2, .voluntarios h3, .voluntarios li::marker {
  color: #4FA7C1;
}

.voluntarios section {
  width: 80%;
}

.voluntarios p, .voluntarios h3, .voluntarios ul, .voluntarios h2 {
  margin-top: 20px;
}

.voluntarios button {
  background-color: #4FA7C1;
}

.escolar h2, .escolar h3, .escolar li::marker, .escolar a {
  color: #55BA68;
}

.escolar section {
  width: 100%;
}

.escolar p, .escolar h3, .escolar ul, .escolar h2 {
  margin-top: 20px;
}

.escolar button {
  background-color: #55BA68;
}

.escolar .box {
  padding: 0px !important;
  height: 300px;
}

.escolar .box-container {
  margin-top: 40px;
}

.visitas h2, .visitas a {
  color: #E48125 !important;
}

.visitas section {
  width: 90%;
}

.visitas p, .visitas h2 {
  margin-top: 20px;
}

.visitas .transporte {
  width: 30%;
  padding: 20px;
}

.visitas a {
  font-weight: bold;
}

.visitas a:hover {
  color: #FCA24F !important;
}

.color-orange {
  color: #E48125;
}

.cuidados h2 {
  color: #6B639A;
}

.cuidados h2, .cuidados p {
  margin-bottom: 20px;
}

.cuidados section {
  width: 100%;
}

.cuidados button {
  background-color: #6B639A;
}

.section-button {
  width: 100% !important;
  margin-top: 40px;
}

.section-button button {
  width: auto;
  padding: 20px;
  min-height: 0;
  height: 75px;
  margin-top: 20px;
}

.cuidados .box {
  padding: 0px !important;
  height: 300px;
}

.cuidados .box-container {
  margin-top: 40px;
}

.denuncias h2, .denuncias h3, .denuncias li::marker {
  color: #444445;
}

.denuncias h2, .denuncias h3 {
  margin-bottom: 20px;
}

.denuncias h3 {
  margin-bottom: 10px;
}

.denuncias section {
  width: 70%;
}

.denuncias section img {
  max-height: 800px;
}

@media (max-width: 1085px) {
  body {
    font-size: 1em;
  }
  .parent-grid-2, .parent-grid-2-paypal, .parent-grid-5 {
    -ms-grid-columns: none;
        grid-template-columns: none;
    gap: 10px;
  }
}

@media (max-width: 850px) {
  .box {
    width: 50%;
    height: auto !important;
  }
  .parent-grid-2, .parent-grid-2-paypal, .parent-grid-5 {
    -ms-grid-columns: none;
        grid-template-columns: none;
    gap: 10px;
  }
  .debito-automatico {
    max-height: 400px;
  }
  .nosotros .section-img, .adopta .section-img, .voluntarios .section-img, .cuidados .section-img {
    display: none;
  }
  .nosotros section, .adopta section, .voluntarios section, .cuidados section {
    width: 100%;
  }
  .visitas .transporte-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visitas .transporte-container .transporte {
    width: 100%;
    padding: 0px;
    margin-top: 40px;
  }
  button {
    font-size: 1.3em;
  }
}

@media (max-width: 700px) {
  .hidden {
    display: none !important;
  }
  .appear {
    display: inline !important;
  }
  .fa-bars {
    margin-right: 30px;
  }
  nav ul {
    display: block !important;
    position: absolute;
    background: #E48125;
    width: 100%;
    top: 80px;
    right: 0px;
    font-size: 1.3em;
  }
  nav ul li {
    border-bottom: 1px solid #FFFFFF;
  }
  nav ul a {
    color: #FFFFFF !important;
    margin-top: 20px !important;
  }
  nav ul a:hover {
    color: #444445 !important;
  }
  nav ul li:hover {
    background-color: #FCA24F;
  }
  .content {
    width: 90%;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin-left: 20px;
  }
  .footer-container img {
    display: none;
  }
  .redes {
    margin-top: 40px;
  }
  .home article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home article img {
    width: 100%;
  }
  button {
    font-size: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */