@import "scss/colors";
@import "scss/sizes";
@import "scss/mixins";

@font-face {
    font-family: "Trashhand";
    src: url("assets/fonts/TrashHand.TTF");
}

@font-face {
    font-family: "Seravek";
    src: url("assets/fonts/Seravek.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Seravek', 'sans-serif';
    font-size: $paragraph-size;
    color: $grey;
    font-weight: 300;
}

.parent {
    @include parent (row);
}

.parent-column {
    @include parent (column);
}

.parent-grid-5 {
   @include parent-grid();
   @include align (initial, center, center);
   grid-template-columns: 29% 17% 17% 17% 17%;
   gap: 10px;
   padding: 10px 0;
}
.parent-grid-2 {
    @include parent-grid();
    grid-template-columns: auto auto;
    gap: 10px
 }

 .parent-grid-2-paypal {
    @include parent-grid();
    @include align (initial, center, center);
    grid-template-columns: 29% 70.5%;
    column-gap: 10px;
    padding: 10px 0;
    .medio-de-pago {
        padding: 0px;
    }
 }
 
h1 {
    color: $light-blue;
    font-size: $h1-size;
    text-transform: uppercase;
}

h2 {
    color: $light-blue;
    font-family: 'Trashhand';
    font-size: $h2-size;
}

h3 {
    color: $white;
    font-size: $h3-size;
    text-transform: uppercase;
}

h4 {
    font-size: $h4-size;
    font-weight: 900;
}

.font-size-s {
    font-size:  $paragraph-size-small;
}


.font-size-xs {
    font-size:  $paragraph-size-xsmall;
}

.hidden {
    display: flex !important;
}

.appear {
    display: none !important;
}

a {
    text-decoration: none;
}

.section-img {
    text-align: end !important;
}

//------ HEADER --------//
header {
    width: 100%;
    @include parent (row);
    @include align (space-around, center, center);
}

nav {
    width: 70%;
    margin-top: 15px;
    margin-right: 20px;
    font-weight: 800;
    ul {
        @include parent (row);
        @include align (space-around, left, left);
        li {
            list-style: none;
            @include parent (row);
            @include align (left, left, center);
            a {
                color: $grey;
                text-decoration: none;
                flex-basis: 0;
                flex-grow: 1;
                margin: 10px;
                margin-top: 0px;            
            }
        }
    }
}

nav a:hover {
    color: $orange;
    text-decoration: none;
}

.pagina-actual {
    color: $orange;
}

//------ MAIN-INDEX --------//

article {
    @include parent (row);
    @include align (space-around, center, left);
    p {
        font-size: $paragraph-size-big;
    }
}

article div {
    padding: 50px;
}

.content {
    width: 50%;
}

.box-container {
    @include parent (row);
    flex-wrap: wrap;
    flex-flow: flex wrap;
}

.box {
    height: 250px;
    width: 25%;
    padding: 50px;
}

.background-grey {
    background-color: $grey;
}

.background-orange {
    background-color: $orange;
}

.background-purple {
    background-color: $purple;
}

.background-light-blue {
    background-color: $light-blue;
}

.background-green {
    background-color: $green;
}

.background-pink {
    background-color: $pink;
}

.background-light-orange {
    background-color: $light-orange;
}

//------ FOOTER --------//

footer {
    @include parent (column);
    padding: 50px 20px 10px 20px;
    @include align (space-around, space-around, center);
}

.footer-container{
    @include parent (row);
    @include align (space-around, center, left);
}

.derechos {
    margin-top: 50px;
}

.info-container {
    @include parent (row);
    @include align (left, center, center);
    p {
        margin-top: 20px;   
        margin-left: 20px;
    }
}

i {
    color: $orange;
    font-size: $icon-size;
    margin-top: 20px;
}

.redes i {
    margin-right: 20px;
}

main {
    padding: 50px;
}

.home {
    padding: 0 !important;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
}

// ------------ COLABORAR ------------// 

.colaborar section {
    margin-bottom: 20px;
}

.colaborar h2, .colaborar a {
    color: $green;
}

span {
    font-weight: bold;
}

.cuenta-bancaria p, .debito-automatico p {
    color: $white;
    font-weight: 100;
    font-size: 1.15em;
}

.debito-automatico p { 
    margin-top: 20px;
}

.cuenta-bancaria h3 {
    margin-bottom: 20px;
    font-size: 1.2500em;
}

.cuenta-bancaria, .debito-automatico {
    padding: 40px;
    max-height: 300px;
    min-height: 300px;
}

.debito-automatico {
    @include parent(column);
}

.border-radius {
    @include border-radius(25px);
}

.border-light-blue {
    border: 3px solid $light-blue;
}

.border-green {
    border: 3px solid $green;
}

.border-pink {
    border: 3px solid $pink;
}

button {
    @include border-radius(25px);
    width: 100%;
    text-align: center;
    padding: 10px 0;    
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    color: $white;
    font-size: 1.8em;
    height: 100%;
    min-height: 150px;
}

.no-button {
    @include border-radius(25px);
    width: 100%;
    text-align: center;
    padding: 10px 0;    
    border-radius: 15px;
    border: 0px;
    font-weight: 100;
    color: $white;
    font-size: 0.5em;
    height: 100%;
    min-height: 150px;
}

.button-paypal {
    min-height: 150px;
    height: 100%;
}

.button-form {
    width: 30%;
    min-width: 235px;
    font-size: 1em;
    color: $purple;
    height: auto;
    background-color: #FAFAFA;
    margin-top: 20px;
    align-self: flex-end;
    min-height: 60px !important;
}

input {
    border: 0px;
    border-bottom: 3px solid white;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 35px;
    width: 85%;
}

.medio-de-pago {
    @include parent(row);
    @include align (center, center, center);
    @include border-radius(25px);
    grid-row-start: 1;
    grid-row-end: 3;
    height: -webkit-fill-available;
}


// ------------ NOSOTROS ------------// 

.nosotros h2, .nosotros h3, .nosotros li::marker{
    color: $orange;
}

.nosotros h2, .nosotros h3  {
    margin-bottom: 20px;
}

.nosotros h3 {
    margin-bottom: 10px;
}

.nosotros section {
    width: 70%;
    img {
        max-height: 800px;
    }
}

// ------------ ADOPTA ------------// 
.adopta h2, .adopta li::marker {
    color: $pink;
}

.adopta h2, .adopta p, .adopta ul  {
    margin-bottom: 20px;
}

.adopta section {
    width: 70%;
}

.adopta button {
    background-color: $pink;
}

.section-button {
    width: 100% !important;
    margin-top: 40px;
    button {
        width: auto;
        padding: 20px;
        min-height: 0;
        height: 75px;
        margin-top: 20px;
    }
}

// ------------ VOLUNTARIOS ------------// 
.voluntarios h2, .voluntarios h3, .voluntarios li::marker {
    color: $light-blue;
}

.voluntarios section {
    width: 80%;
}

.voluntarios p, .voluntarios h3, .voluntarios ul, .voluntarios h2  {
    margin-top: 20px;
}

.voluntarios button {
    background-color: $light-blue;
}


// ------------ ESCOLAR ------------// 
.escolar h2, .escolar h3, .escolar li::marker, .escolar a {
    color: $green;
}

.escolar section {
    width: 100%;
}

.escolar p, .escolar h3, .escolar ul, .escolar h2  {
    margin-top: 20px;
}

.escolar button {
    background-color: $green;
}

.escolar .box {
    padding: 0px !important;
    height: 300px;
}

.escolar .box-container {
    margin-top: 40px;
}

// ------------ VISITAS ------------// 
.visitas h2, .visitas a {
    color: $orange !important;
}

.visitas section {
    width: 90%;
}

.visitas p, .visitas h2  {
    margin-top: 20px;
}

.visitas .transporte {
    width: 30%;
    padding: 20px;
}
.visitas a {
    font-weight: bold;
}

.visitas a:hover {
    color:$light-orange !important;
}

.color-orange {
    color: $orange;
}


// ------------ CUIDADOS ------------// 
.cuidados h2 {
    color: $purple;
}

.cuidados h2, .cuidados p  {
    margin-bottom: 20px;
}

.cuidados section {
    width: 100%;
}

.cuidados button {
    background-color: $purple;
}

.section-button {
    width: 100% !important;
    margin-top: 40px;
    button {
        width: auto;
        padding: 20px;
        min-height: 0;
        height: 75px;
        margin-top: 20px;
    }
}

.cuidados .box {
    padding: 0px !important;
    height: 300px;
}

.cuidados .box-container {
    margin-top: 40px;
}

// ------------ DENUNCIAS ------------// 

.denuncias h2, .denuncias h3, .denuncias li::marker{
    color: $grey;
}

.denuncias h2, .denuncias h3  {
    margin-bottom: 20px;
}

.denuncias h3 {
    margin-bottom: 10px;
}

.denuncias section {
    width: 70%;
    img {
        max-height: 800px;
    }
}

// ------------ PRENSA ------------// 
.prensa h2, .prensa a {
    color: $light-orange !important;
}

.prensa button {
    background-color: $light-orange;
}

.prensa section {
    width: 90%;
}

.prensa p, .prensa h2  {
    margin-top: 20px;
}

.prensa .transporte {
    padding: 20px;
}

.prensa .transporte-container {
    gap: 50px;
}

.prensa a {
    font-weight: bold;
}

.prensa a:hover {
    color:$light-orange !important;
}

.color-light-orange {
    color: $light-orange;
}



//------ MEDIA QUERIES -----//

@media (max-width: 1085px) {
    body {
        font-size: $h3-small-size;
    }
    .parent-grid-2, .parent-grid-2-paypal, .parent-grid-5 {
        grid-template-columns: none;
        gap: 10px;
    }
  }
  
@media (max-width: 850px) {
    .box {
        width: 50%;
        height: auto !important;
    }
    .parent-grid-2, .parent-grid-2-paypal, .parent-grid-5 {
        grid-template-columns: none;
        gap: 10px;
    }
    .debito-automatico {
        max-height: 400px;
    }
    .nosotros .section-img, .adopta .section-img, .voluntarios .section-img, .cuidados .section-img {
        display: none;
    }
    .nosotros section, .adopta section, .voluntarios section, .cuidados section{
        width: 100%;
    }
    .visitas .transporte-container, .prensa .transporte-container {
        flex-direction: column;
        .transporte {
            width: 100%;
            padding: 0px;
            margin-top: 40px;
        }
    }
    button {
        font-size: 1.3em;
    }
  }
  
@media (max-width: 700px) {
    .hidden {
        display: none !important;
    }  
    .appear {
        display: inline !important;
    }
    .fa-bars {
        margin-right: 30px;
    }
    nav ul {
        display: block !important;
        position: absolute;
        background: $orange;
        width: 100%;
        top: 80px;
        right: 0px;
        font-size: 1.3em;
        li {
            border-bottom: 1px solid $white;
        }
        a {
            color: $white !important;
            margin-top: 20px !important;
        }
        a:hover {
            color: $grey !important;
        }
        li:hover {
            background-color: $light-orange;
        }
    }
    .content {
        width: 90%;
    }    
    .footer-container {
    @include parent (column);
    @include align (space-around, flex-start, left);
    margin-left: 20px;
        img {
            display: none;
        }
    }

    .redes {
        margin-top: 40px;
    }

    .home article {
        @include parent (column);
        img {
            width: 100%;
        }
    }
    button {
        font-size: 1em;
    }
}
