$paragraph-size: 1.1250em;
$paragraph-size-big: 1.6em;
$paragraph-size-small: 1em;
$paragraph-size-xsmall: 0.8em;
$h1-size: 1.5em;
$h2-size: 2.8em;
$h3-size: 1.3em;
$h4-size: 1.2em;
$icon-size: 1.6em;

$h3-small-size: 1em;

