@mixin background-color ($var) {
    background-color: $var;
}

@mixin parent ($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin align ($justify, $items, $text) {
    justify-content: $justify;
    align-items: $items;
    text-align: $text;
}

